<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>misiones</title>
</head>
<body>
    <h1>MISIONES</h1>
    <h2>Misiones activas</h2>
    <p>Datos medicos</p>
    <p>entrenamiento</p>
    <p>defensa de la intalación missfel</p>
    <h2>Misiones acabadas</h2>
    <p>defensa de mirraf</p>
    <p>visitar al supervisor</p>
    <p>uso de IA</p>
    <h2>Misiones acabas y perdidas</h2>
    <p>caida de Madrigal, bajas:</p><b>15.000.000</b>
    <p>base fenix. Personal perdido: </p><b>500</b>
    <form action="#" method="get">
        <input type="submit" name="bton1" value="Credenciales">
        <input type="submit" name="bton2" value="Cerrar Sesión">
    </form>
</body>
</html>