    <!doctype html>
    <html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/resultado.css}">
        <title>Era hace una vez</title>
    </head>
    <body>

    <h1>DATOS DEL PERSONAJE</h1>
    <ol>
        <li th:each="item : ${historia.heroe}" th:text="${item}"></li>
    </ol>
    <hr>

    <h2>¡TU HISTORIA!</h2>
    <p>¡Oh gran caballero de ceniza <b th:text="${historia.nombre}"></b>!
        Usted ahora renacerá como un <b th:text="${historia.rol}"></b>.
    </p>
    <p>Pero no va a ir solo o sin nada. Usted eligió los siguientes artículos que lo ayudarán:</p>
    <ul>
        <li th:each="obj : ${historia.objetos}" th:text="${obj}"></li>
    </ul>
    <p>Ahora sí, poderoso y gran caballero, que los Dioses te guarden y que conquistes el mundo.</p>

    </body>
    </html>
