<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Era hace una ves</title>
</head>
<body>
<h1>DATOS DEL PERSONAJE</h1>
<ol>
    <li th:each="Historia : ${historia.heroe}" th:text="${Historia}"></li>
</ol>
<hr>
<h2>¡TU HISTORIA!</h2>
<span>¡Oh gran caballero de ceniza</span> <b th:text="${historia.nombre}">!</b><br>
<span>Usted ahora renacera como un </span><b th:text="${historia.rol}"></bth:text></b><br>
<span>Pero no va ir solo o sin nada. Usted eligio los siguientes articulos que lo ayudaran</span>
<br><b th:text="${historia.objetos}"></b><br>
<span>Ahora si, poderoso y gran caballero, que los Dioses te guarden y que conquistas el mundo.</span>

</body>
</html>