<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creador de Personaje: Nombre</title>
</head>
<body>
<form action="#" th:action="@{/}" method="post" th:object="${historia}">
    <table>
        <legend>NOMBRE DEL PERSONAJE
            <tr>
                <td><input type="text" th:field="*{nombre}"></td>
                <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error no hay nombre</td>
            </tr>
        </legend>
    </table>
        <td><button type="submit" name="op" value="+1">Enviar</button></td>
    </tr>

</form>
</body>
</html>