<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Ejercicio 2 Examen UD3</title>
</head>

<body>
	<div th:if="${nombre}">
		<h1 th:text="|Hola ${nombre}|" />
		<form>
			<p><a href="/secreto">Desvelar el <b>secreto</b></a></p>
			<p><input type="submit" name="logout" value="Cerrar sesión" /></p>
		</form>
	</div>

	<div th:unless="${nombre}">
		<h1>Identifiquese, por favor</h1>
		<form>
			<p th:text="${errores}" />
			<p>
				<label for="nombre">Nombre:</label>
				<input type="text" name="nombre" />
			</p>
			<p>
				<label for="contraseña">Contraseña:</label>
				<input type="password" name="contraseña" />
			</p>
			<input type="submit" name="login" value="Iniciar sesión" />
		</form>
	</div>
</body>

</html>