<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Ejercicio 2 Examen UD3</title>
</head>

<body>
	<h1>El secreto</h1>
	<p>Te va a ser revelado un gran secreto</p>
	<p>Recuerda siempre que un gran poder conlleva una gran responsabilidad</p>
	<p>¿Cuál es el secreto para aprobar los exámenes de DWES?</p>
	<ul>
		<li>Leer varias veces el enunciado del examen</li>
		<li>Atender en las clases y <b>tomar notas</b> sobre todo lo que se cuenta, ejemplifica ...</li>
		<li>Realizar las prácticas entendiendo el código que implementas, el por qué de cada paso y depurando hasta que se comparte como se pide</li>
		<li>Preguntar en clase o en el foro cualquier duda sobre las prácticas o los materiales</li>
		<li>Repasar las prácticas planteando modificaciones, planeando los cambios, y llevándolos a cabo</li>
		<li>Leer los contenidos del aula virtual y preguntar cualquier duda</li>
		<li>Repasar las prácticas preguntando cualquier duda que te surja</li>
	</ul>
	<p><a href="/Ejercicio2">Volver al inicio</a></p>
</body>

</html>