<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario</title>
</head>
<body>
<form action="#" th:action="@{/}" method="post" th:object = "${persona}">
    <table>
        <tr>
            <td>Nombre:</td>
            <td><input type="text" th:field="*{nombre}"></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre da un Error</td>
        </tr>
        <tr>
            <td>Edad:</td>
            <td><input type="text" th:field="*{edad}"></td>
            <td th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}">Edad en el Error</td>
        </tr>
        <tr>
            <td>IMC:</td>
            <td><input type="text" th:field="*{IMC}"></td>
            <td th:if="${#fields.hasErrors('IMC')}" th:errors="*{IMC}">Edad en el Error</td>
        </tr>
        <tr>
            <td><input type="radio" th:field="*{genero}" value="H">Hombre</td>
            <td><input type="radio" th:field="*{genero}" value="M">Mujer</td>
        </tr>
        <input type="submit" value="Enviar">
    </table>


</form>
</body>
</html>